<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NellodeeV0.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8995BBF21BF548F4006E42AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8995BC091BF548F5006E42AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8995BC141BF548F5006E42AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
